# MongoDB Credentials
MONGO_INITDB_ROOT_USERNAME=your_username
MONGO_INITDB_ROOT_PASSWORD=your_password
MONGO_INITDB_DATABASE=your_database

# MongoDB Connection Details for Spring Boot
MONGODB_USERNAME=your_username
MONGODB_PASSWORD=your_password
MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_DATABASE=your_database

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# MinIO Credentials
MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=assets

